<div id="nav" class="navbar center-col">
	<div class="flex-left no-mobile">
		<!-- <a href="https://moralimaginations.com" style="padding-left: 0">Moral Imaginations</a> -->
	</div>
	<div class="flex-right no-mobile">
		<div class="hamburger-icon" onclick="hamburgerSwap(this);openNav()">
			 	<div class="bar1"></div>
 				<div class="bar2"></div>
  				<div class="bar3"></div>
		</div>
		<a href="https://moralimaginations.substack.com/">Subscribe</a>
		<a href="http://www.twitter.com/moral_imagining"><img alt="twitter logo" src="/images/twitter-logo.png"></a>
		<a href="www.facebook.com/moralimaginations" style="padding-right: 0"><img alt="discord logo" src="/images/facebook-logo.png"></a>
	</div>

	<div id="mobile-nav">
		<!-- <a href="https://moralimaginations.com">Home</a> -->
		<a href="https://moralimaginations.substack.com/">Subscribe</a>
		<div class="social-images">
			<a href="http://www.twitter.com/moral_imagining"><img alt="twitter logo" src="/images/twitter-logo.png"></a>
			<a href="www.facebook.com/moralimaginations" ><img alt="discord logo" src="/images/facebook-logo.png"></a>
		</div>
	</div>

	<div id="mobile-nav-shade"  onclick="hamburgerSwap(this);openNav()">
	</div>

</div>

<script type="text/javascript">
	function hamburgerSwap(x) {
		x.classList.toggle("change");
	}

	function openNav() {
		var x = document.getElementById("mobile-nav");
		x.classList.toggle("onscreen");
	var x = document.getElementById("mobile-nav-shade");
		x.classList.toggle("visible");
	}

</script>